*
!.gitignore
!mods/
restarter/*
mods/*
!mods/lexi.discordchatlogging/
!mods/lexi.discordchatlogging/**
!discord/
!discord/**
discord/discordtitanfall/*
discord/discordtitanfall/**
discord/data/*
!discord/data/commands.json
discord/venv
discord/db
discord/CLAUDE.md
.venv
.env
