*
!.gitignore
!mods/
mods/*
!mods/lexi.discordchatlogging/
!mods/lexi.discordchatlogging/**
!discord/
!discord/**
discord/discordtitanfall/*
discord/discordtitanfall/**
discord/data/channels.json
discord/venv

.venv
.env
